
body {
    background-color: #111a22;
}

pre.language-python {
    margin-bottom: 26px;
}

a, a:visited {
    color: #38a169;
    text-decoration: none;
}

code {
    font-size: inherit;
    background-color: #282c34;
    padding: 0 2px 0 2px;
    border-radius: 2px;
}

#doc-search {
    border: 0;
    border-radius: 3px;
    background-color: #23313e;
    color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    width: 236px;
}

#doc-search:focus {
    color: #21242a;
    background-color: #f9f9f9;
}
