
body {
    background-color: #21242a;
}
pre.language-python {
    margin-bottom: 26px;
}

a, a:visited {
    color: #38a169;
    text-decoration: none;
}

code {
    font-size: inherit;
    background-color: #282c34;
    padding: 0 2px 0 2px;
    border-radius: 2px;
}

